{% extends "base/userbase.html" %}
{% load static %}
{% block title %}Return Order{% endblock  %}

{% block content %}

<section class="pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30">Reason for return</h3>
                                </div>
                                <div class="form-group">
                                    {% include "base/messages.html" %}
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <label for="returning_order">Reason for returning the order</label>
                                    <div class="form-group">
                                        <input type="text" name="return_description" placeholder="" required>
                                    </div> 
                                    
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-fill-out btn-block hover-up" name="">Save</button>
                                    </div>
                                    

                                </form>
                               
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}