{% extends "base/userbase.html" %}
{% load static %}
{% block title %}Wishlist{% endblock  %}
{% block content %}

<main class="main">
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" colspan="2">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                <tr>
                                    <td class="image product-thumbnail"><img src="{{product.product.image_front.url}}" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="shop-product-right.html">{{product.product.product_name}}</a></h5>
                                    </td>
                                    <td class="price" data-title="Price"><span>${{product.product.selling_price}} </span></td>
                                    <td class="text-right" data-title="Cart">
                                        <a href="/product_details/{{product.product.uid}}" class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>View Product</a>
                                    </td>
                                    <td class="action" data-title="Remove"><a href="/products/remove_from_wishlist/{{product.product.uid}}"><i class="fi-rs-trash"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}