{% extends "base/userbase.html" %}
{% load static %}
{% block title %}Shop{% endblock  %}
{% block content %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-product-fillter style-2">
                        <div class="totall-product">
                            {% comment %} <p> We found <strong class="text-brand">688</strong> items for you!</p> {% endcomment %}
                        </div>
                        <div class="sort-by-product-area">
                            {% comment %} <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Show:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">50</a></li>
                                        <li><a href="#">100</a></li>
                                        <li><a href="#">150</a></li>
                                        <li><a href="#">200</a></li>
                                        <li><a href="#">All</a></li>
                                    </ul>
                                </div>
                            </div> {% endcomment %}
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">Featured</a></li>
                                        <li><a href="#">Price: Low to High</a></li>
                                        <li><a href="#">Price: High to Low</a></li>
                                        <li><a href="#">Release Date</a></li>
                                        <li><a href="#">Avg. Rating</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-list mb-50">
                        {% for product in products %}
                        {% comment %} {% if  product.category.is_listed %} {% endcomment %}
                        <div class="product-cart-wrap">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <div class="product-img-inner">
                                        <a href="/product_details/{{product.uid}}">
                                            <img class="default-img" src="{{ product.image_front.url }}" alt="">
                                            <img class="hover-img" src="{{ product.image_front.url }}}" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="product-action-1">
                                    {% comment %} <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"> {% endcomment %}
{% comment %} <i class="fi-rs-search"></i></a> {% endcomment %}
                                    {% comment %} <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a> {% endcomment %}
                                    {% comment %} <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> {% endcomment %}
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    {% comment %} <span class="new">New</span> {% endcomment %}
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    <a href="shop-grid-right.html">{{product.category.category_name}}</a>
                                </div>
                                <h2><a href="shop-product-right.html">{{product.product_name}}</a></h2>
                                <div class="product-price">
                                    <span>${{product.selling_price}} </span>
                                    <span class="old-price">${{product.price}}</span>
                                </div>
                                <p class="mt-15">{{product.description}}</p>
                                <div class="product-action-1 show">
                                    {% comment %} <a aria-label="Buy now" class="action-btn" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i>Add to Cart</a> {% endcomment %}
                                    <div class="rating-result" title="90%">
                                        <span>
                                            <span>50%</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% comment %} {% endif %} {% endcomment %}
                        {% endfor %}
                        
                        
                    </div>
                    <!--pagination-->
                    {% comment %} <div class="pagination">
                        <span class="step-links">
                            {% if products.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ products.previous_page_number }}">previous</a>
                            {% endif %}
                            
                            <span class="current">
                                Page {{ products.number }} of {{ products.paginator.num_pages }}.
                            </span>
                            
                            {% if products.has_next %}
                                <a href="?page={{ products.next_page_number }}">next</a>
                                <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div> {% endcomment %}
                    
                    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item">
                                    <a class="page-link" href="?page=1{% if selected_category %}&category_id={{ selected_category.id }}{% endif %}{% if request.GET.price_range %}&price_range={{ request.GET.price_range }}{% endif %}">&laquo;</a>
                                </li>
                                {% for num in page_numbers %}
                                    {% if products.number == num %}
                                        <li class="page-item active">
                                            <a class="page-link" href="?page={{ num }}{% if selected_category %}&category_id={{ selected_category.id }}{% endif %}{% if request.GET.price_range %}&price_range={{ request.GET.price_range }}{% endif %}">{{ num }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}{% if selected_category %}&category_id={{ selected_category.id }}{% endif %}{% if request.GET.price_range %}&price_range={{ request.GET.price_range }}{% endif %}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ products.paginator.num_pages }}{% if selected_category %}&category_id={{ selected_category.id }}{% endif %}{% if request.GET.price_range %}&price_range={{ request.GET.price_range }}{% endif %}">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    {% comment %} <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">16</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li>
                            </ul>
                        </nav>
                    </div> {% endcomment %}
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                            {% for category in categories %}
                                <li><a href="{% url 'shop_page' %}?category_id={{ category.id }}">{{ category.category_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Filter By Price -->
                    {% comment %} <div class="sidebar-widget price_range range mb-30"> {% endcomment %}
                        {% comment %} <div class="widget-header position-relative mb-20 pb-10">
                            <h5 class="widget-title mb-10">Filter by price</h5>
                            <div class="bt-1 border-color-1"></div>
                        </div>
                        <div class="price-filter">
                            <div class="price-filter-inner">
                                <div id="slider-range"></div>
                                <div class="price_slider_amount">
                                    <div class="label-input">
                                        <span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item mb-10 mt-10">
                                <label class="fw-900">Size</label>
                                <div class="custome-checkbox">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                    <label class="form-check-label" for="exampleCheckbox1"><span>S</span></label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox2" value="">
                                    <label class="form-check-label" for="exampleCheckbox2"><span>M</span></label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                    <label class="form-check-label" for="exampleCheckbox3"><span>L</span></label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                    <label class="form-check-label" for="exampleCheckbox3"><span>XL</span></label>                                
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Price Range</h5>
                            <ul class="categories">
                                <li><a href="?price_range=0-40"> $0-$40 </a></li>
                                <li><a href="?price_range=40-60"> $40-$60 </a></li>
                                <li><a href="?price_range=60+"> $60+ </a></li>
                            </ul>
                        </div>
                        <a href="shop-grid-right.html" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Filter</a>
                    {% comment %} </div> {% endcomment %}
                
                    
                
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock  %}