{% extends "base/adminbase.html" %}
{% load static %}
{% block title %}Coupons{% endblock  %}
{% block content %}

<main class="main-wrap">
    
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order List </h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <a href="{% url "add_coupon" %}" class="btn btn-brand">Add Coupon</a>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                
                                <th scope="col" class="text-center">Coupon Code</th>
                                <th scope="col" class="text-center">Expiry</th>
                                <th scope="col" class="text-center">Discount</th>
                                <th scope="col" class="text-center">Minimum Amount</th>
                                {% comment %} <th scope="col">Active</th> {% endcomment %}
                                <th scope="col" class="text-center"> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for coupon in coupons %}
                            <tr>
                                <td class="text-center"><b>{{coupon.code}}</b></td>
                                <td class="text-center">{{coupon.expiry_date}}</td>
                                <td class="text-center">{{coupon.discount_percentage}} %</td>
                                {% comment %} <td><span class="badge rounded-pill alert-warning">Pending</span></td> {% endcomment %}
                                <td class="text-center">$ {{coupon.minimum_amount}}</td>
                                <td class="text-center">
                                    {% if coupon.unlisted %}
                                    <a href="/adminpanel/list_coupon/{{coupon.uid}}" class="btn btn-sm font-sm btn-light rounded">
                                        <i class="material-icons md-refresh"></i>List
                                    </a>
                                    {% else %}
                                    <a href="/adminpanel/unlist_coupon/{{coupon.uid}}" class="btn btn-sm font-sm btn-light rounded">
                                        <i class="material-icons md-delete "></i>Unlist
                                    </a>
                                    {% endif %}
                                    
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
</main>

{% endblock %}