{% extends "base/adminbase.html" %}
{% load static %}
{% block title %}Order Details{% endblock  %}
{% block content %}

<main class="main-wrap">
    
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                <p>Details for Order ID: {{order.uid}}</p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span>
                            <i class="material-icons md-calendar_today"></i> <b>{{order.created_at}}</b>
                        </span> <br>
                        <small class="text-muted">Order ID: {{order.uid}}</small>
                    </div>
                    {% if order.status == 'Returned' %}
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                        <h5>Order Returned</h5>
                    {% else%}
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <select name="status" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                                <option value="None" {% if order.status == 'None' %}selected{% endif %}>None</option>
                                <option value="Confirmed" {% if order.status == 'Confirmed' %}selected{% endif %}>Confirmed</option>
                                <option value="Shipped" {% if order.status == 'Shipped' %}selected{% endif %}>Shipped</option>
                                <option value="Delivered" {% if order.status == 'Delivered' %}selected{% endif %}>Delivered</option>
                                <option value="Cancelled" {% if order.status == 'Cancelled' %}selected{% endif %}>Cancelled</option>
                                <option value="Returned" {% if order.status == 'Returned' %}selected{% endif %}>Returned</option>
                            </select>
                    
                            <button type="submit" class="btn btn-primary">Save</button>
                    
                            <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    {{order.user.first_name}} <br> {{order.user.email}} <br> {{order.address.phone_number}}
                                </p>
                                <a href="#">View profile</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: Fargo express <br>
                                    Pay method: 
                                    {% if order.payment_method.method == 'cash_on_delivery' %}
                                    Cash On Delivery
                                    {% elif order.payment_method.method == 'razorpay' %}
                                    RazorPay
                                    {% elif order.payment_method.method == 'direct_bank_transfer' %}
                                    Direct Bank Transfer
                                    {% endif %}
                                    <br> 
                                    Status: {{order.status}}
                                </p>
                                <a href="#">Download info</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    {{order.address.address}} ,<br> {{order.address.city}} , {{order.address.district}} ,<br>{{order.address.state}} - {{order.address.pincode}}
                                </p>
                                <a href="#">View profile</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="20%">Unit Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%" class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order_items %}
                                    <tr>
                                        <td>
                                            <a class="itemside" href="#">
                                                <div class="left">
                                                    <img src="{{item.product.image_front.url}}" width="40" height="40" class="img-xs" alt="Item">
                                                </div>
                                                <div class="info"> {{item.product.product_name}} </div>
                                            </a>
                                        </td>
                                        <td> ${{item.product.selling_price}} </td>
                                        <td> {{item.quantity}} </td>
                                        <td class="text-end"> {{item.sub_total}} </td>
                                    </tr>
                                    {% endfor %}

                                    <tr>
                                        <td colspan="4"><br>
                                            <article class="float-end">
                                                <dl class="dlist">
                                                    <dt>Grand total:</dt>
                                                    <dd> <b class="h6">${{order.amount_to_pay}}</b> </dd>
                                                </dl>
                                                <br>
                                                <dl class="dlist">
                                                    <dt class="text-muted">Payment status:</dt>
                                                    <dd>
                                                        {% if order.status == 'Returned' %}
                                                        <span class="badge rounded-pill alert-success text-danger">Refunded</span>
                                                        {% elif order.payment_method.method == 'cash_on_delivery' and order.status == 'Delivered' %}
                                                        <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                        {% elif order.payed == True %}
                                                        <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                        {% else %}
                                                        <span class="badge rounded-pill alert-success text-warning">Payment not done</span>
                                                        {% endif %}
                                                        
                                                    </dd>
                                                </dl>
                                            </article>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- table-responsive// -->
                        <a class="btn btn-primary" href="page-orders-tracking.html">View Order Tracking</a>
                    </div> <!-- col// -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <div class="box shadow-sm bg-light">
                            <h6 class="mb-15">Payment info</h6>
                            <p>
                                <img src="assets/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br>
                                Business name: Grand Market LLC <br>
                                Phone: +1 (800) 555-154-52
                            </p>
                        </div>
                        <div class="h-25 pt-4">
                            <div class="mb-3">
                                <label>Notes</label>
                                <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                            </div>
                            <button class="btn btn-primary">Save note</button>
                        </div>
                    </div> <!-- col// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    </section> <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
</main>
{% endblock %}