{% extends "base/adminbase.html" %}
{% load static %}
{% block title %}User List{% endblock  %}
{% block content %}
<main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Users</h2>
            {% comment %} <div>
                <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
            </div> {% endcomment %}
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <form method="GET" action="{% url 'users' %}">
                            <input type="text" name="search" placeholder="Search..." class="form-control" value="{{ search_query }}">
                        </form>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th class="text-center"> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for profile in profiles %}
                            <tr>
                                <td width="">
                                    <a href="#" class="itemside">
                                        <div class="left">
                                            <img src="{{ profile.profile_image.url }}" class="img-sm img-avatar" alt="Profile Picture">
                                        </div>
                                        <div class="info pl-3">
                                            <h6 class="mb-0 title">{{profile.user.first_name}}</h6>
                                            <small class="text-muted">{{profile.user.last_name}}</small>
                                        </div>
                                    </a>
                                </td>
                                <td>{{profile.user.email}}</td>
                                {% if profile.is_blocked %}
                                <td><span class="badge rounded-pill alert-warning ">Blocked</span></td>
                                {% else %}
                                <td><span class="badge rounded-pill alert-success ">Active</span></td>                                
                                {% endif %}
                                
                                
                                <td class="text-end">
                                    {% if profile.is_blocked is False%}
                                    <a href="/adminpanel/block_user/{{ profile.uid }}" class="btn btn-sm btn-warning rounded font-sm mt-15">Block</a>
                                    {% else %}
                                    <a href="/adminpanel/block_user/{{ profile.uid }}" class="btn btn-sm btn-brand rounded font-sm mt-15">Unblock</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> <!-- table-responsive.// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                    {% for num in profiles.paginator.page_range %}
                        {% if users.number == num %}
                            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item"><a class="page-link" href="?page={{ profiles.paginator.num_pages }}">&raquo;</a></li>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
</main>
{% endblock  %}