{% extends "base/userbase.html" %}
{% load static %}
{% block title %}Wallet Payment{% endblock  %}
{% block content %}

<body>
    <br>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Wallet Payment</h2>
        <div class="mb-4">
            <p class="fw-700">User: {{user.user.first_name}} {{user.user.last_name}}</p>
        </div>
        <div class="mb-4">
            <div class="table-responsive order_table text-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td class="image product-thumbnail"><img src="{{ product.product.image_front.url }}" alt="#"></td>
                            <td>
                                <h5><a href="shop-product-full.html">{{product.product.product_name}}</a></h5><span>Size:{{product.size.size}}</span> <br> <span class="product-qty">x{{ product.quantity }}</span>
                            </td>
                            <td>${{product.calculate_sub_total}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="cart_total_label font-lg fw-900 text-brand">Total Payable</td>
                            <td class="cart_total_amount"><span class="font-md fw-700">$<span id = "cart-total">{{grand_total}}</span></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                {% include "base/messages.html" %}
                <div class="mb-4">
                    <h4>Payment Method</h3><br>
                    <p>Wallet: MyWallet</p>
                </div>
                <br>
                <div class="mb-4">
                    <h4>Wallet</h3><br>
                    <p>Current Balance: ${{wallet.amount}}</p>
                </div>
                <br>
                <div class="mb-4 justify-content-between">
                    <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Confirm Payment</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url "cart" %}" class="btn btn-warning">Cancel</a>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}